body {
    background-color: var(--grisPale);
}
/* 
.descriptionVoiture img {
    width: 100%;
    object-fit: cover;
} */

.descriptionVoiture {
    margin-top: var(--margeSection);       /* 50px; */
}

.swiper-container {
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: var(--margeSection);       /* 50px; */
  }

.swiper-slide {
    background: var(--cle);
    display: flex;
}

.swiper-image {
    width: auto;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
  /*   object-fit: cover; */ 
}

.swiper-button-prev::after,
.swiper-button-next::after {
    color: white;
    opacity: 0;
    transition: opacity .3s ease;
}

.swiper-container .swiper-pagination-bullet {
    background-color: white;
    opacity: 0;
    transition: opacity .3s ease;
}

.swiper-container:hover .swiper-button-prev::after,
.swiper-container:hover .swiper-button-next::after {
    opacity: 1;
}

.swiper-container:hover .swiper-pagination-bullet {
    opacity: .5;
}

.swiper-container:hover .swiper-pagination-bullet-active {
    opacity: 1;
}