/* header */


/* Retirer lcouleur et les lignes sur 
	tous les liens de navigation */

.enteteConteneur {
    position: relative;
    background-color: var(--blanc);
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}


.recherche {
    width: 300px;           
    height: 30px;         
    top: 47px;
    background: #FFFFFF;
    border: 3px solid #333333;
    box-sizing: border-box;
}

.connexion {
    padding: 1.04167vw;            /* 20px; */
    font-family: var(--orbitron);
    font-size: var( --police_taille_sousTitre);
    color: var(--gris);
}

.entete__usager {
    font-family: var(--openSans);
    font-size: var( --police_taille_texte);
    font-weight: var(--police_poid_gras);
    color: var(--gris);
    margin-left: 8.59375vw;
    margin-top: -20px;
}

.entete__langue {
    padding: 1.04167vw;            /* 20px; */
    margin-right: 2vw;
    font-family: var(--orbitron);
    font-size: var( --police_taille_sousTitre);
    color: var(--gris);
}

.entete__droit {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.itemPanier {
    color: var(--cle);
}

.entete__panier {
    height: 60px;
    width: 60px;
}

.entete__panierAchat.fill {
    fill: var(--cle);
}

.vide {
    opacity: .5;
    pointer-events: none;
}

/********** ADAPTATION POUR PETIT ÉCRAN, Iphone 11 (< 414 px) **********/
@media screen and (max-width: 414px) {
    .pied_de_page {
        flex-direction: column;
        text-align: center;
    }

    .enteteRecherche {
        margin: auto;
    }
    
    .entete__droit {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: space-between;
    }
}