*{
    margin:0;
    font-family: var(--openSans);
}


.filtreConteneur{
    margin-top: var(--margeSection);
    flex-basis: 15%;
}

.filtreSection{
    border-bottom: solid;
    border-left: solid;
    border-right: solid;
    border-bottom-width: var(--bordureInterne);
    border-color: var(--gris);
    padding: var(--paddingFiltreListe);
}

.filtreSectionTop{
    border-top: solid;
    border-top-width: var(--bordure);
}

.filtreSectionBottom{
    border-bottom-width: var(--bordure);
}

.formConteneur{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    background-color: var(--blanc);
}

.listeConteneur{
    display: flex;
    justify-content: space-between;
    background-color: var(--grisPale);
    padding :1vw;
    /* margin: -10px; */
}

.titreConteneur{
    display:flex;
    justify-content: space-between;
    align-items:flex-start;
}

.titreFiltre{
    font-family: var(--orbitron);
    font-size: var(--police_taille_h2Plus);
}

.titreSection{
    font-size: var(--police_taille_sousTitre);
    margin-bottom:var(--margeSousSection);
    display:inline;
}

.sousMenuConteneur{
    display:flex;
    justify-content: space-around;
}

.sousMenuContenue{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* margin:1vw; */
}
.sousMenuContenueRadio{
    display: flex;
    justify-content: space-between;

    margin:1vw;
}
.filtreBoutonConteneur{
    display:flex;
    flex-direction: column;
}

.filtreInputWidth{
    min-width:8vw;
}

.filtreInputColor{
    background-color: var(--grisPale);
}

.radio{
    margin-left: 10px;
}

/* La grille des listes */
.grilleListe {
    display: grid;
    margin-top: var(--margeSousSection);
    margin-bottom: var(--margeSousSection);
}

.grilleListe--2 {
    column-gap: var(--paddingFiltreListe);
    grid-row-gap: var(--paddingFiltreListe);
    grid-template-columns: repeat(2, 1fr);
}

@media screen and (min-width: 1025px){
    .filtreConteneur > main {
        margin-left: var(--margeSection);
        margin-right: var(--margeSection);
    }  
}


@media screen and (max-width: 1024px) {
    .filtreConteneur {
        margin-left: var(--margeSection);
        margin-right: var(--margeSection);
    }  
}

@media screen and (max-width: 414px) {

    .filtreConteneur {
        margin-left: var(--paddingTuile);
        margin-right: var(--paddingTuile);
    }
}

