/* footer */

.pied_de_page {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: var(--noir);
    margin-top: 50px;
    height: 180px;
    padding: 30px;
    border-top: solid 20px var(--cle);
}

.footer__titre {
    font-family: var(--orbitron);
    font-size: var(--police_taille_h2Plus);
    color: var(--cle);

}

.footer__adresse,
.footer__heures,
.footer__partage {
    font-family: var(--openSans);
    font-size: var( --police_taille_sousTitre);
    color: var(--grisPale);
    text-align: center;
}

.footer__adresse p,
.footer__heures p ,
.footer__partage p {
    font-family: var(--openSans);
    font-size: var(--police_taille_texte);
    color: var(--blanc);
}

/********** ADAPTATION POUR PETIT ÉCRAN, Iphone 11 (< 500 px) **********/
@media screen and (max-width: 500px) {
    .pied_de_page {
        flex-direction: column;
        text-align: center;
    }
}

