.formulaireConnexionConteneur{
    display: flex;
    justify-content: center;
}

.formulaireConnexionInput{
    display: flex;
    justify-content: center;
    align-items: center;
}
.boutonConteneur{
    display:flex;
    flex-direction: column;
}

.formulaireConnexion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: stretch; */
    text-align: center;
    margin: var(--margeSousSection);
    flex-basis: calc(40% - var(--margeSection));
    margin-top: var(--margeSection);
    /* margin-left: var(--margeSection);
    margin-left: 100vw;
    /* margin-right: var(--margeSection); */
    /* margin-right: 10vw;  */
    border-style: solid;
    border-width: var(--bordureI);
    border-color: var(--gris);
    font-family: var(--orbitron);
    font-size: var(--police_taille_h2Plus);
    background-color: var(--blanc);
}

.formulaireConnexionform{
    margin-top: var(--margeSousSection);
    margin-right: var(--margeSection);
    margin-left: var(--margeSection);
    font-family: var(--orbitron);
    font-size: var( --police_taille_sousTitre);
    color: var(--gris);
}

.formulaireConnexionInput {
    margin-right: 0;
    margin-left: auto;
}

.boutonFormConnexion {
    color: var(--blanc);
    background-color: var(--cle);
    margin-top: var(--margeSousSection);
    text-align: center;
    padding: 0.5vw;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.boutonFormCreerCompte {
    color: var(--blanc);
    background-color: var(--cle);
    text-align: center;
    padding: 0.5vw;
    display: block;
    margin-top: 1vw;
    margin-bottom: var(--margeSousSection);
    margin-right: auto;
    margin-left: auto;
}

.connexionErreur{
    color: var(--cle);
    text-align: center;
}

@media screen and (max-width: 414px) {
    .formulaireConnexionInput{
        flex-direction: column;
        margin-right: auto;

    }
}