.listeDonnees {
    display: inline-block;
    flex-basis: calc(25% - var(--margeSection));
    align-items: stretch;
    margin-top: var(--margeSection);
    margin-left: var(--margeSection);
    border-style: solid;
    border-width: var(--bordureI);
    border-color: var(--gris);
    font-family: var(--orbitron);
    font-size: var(--police_taille_h2Plus);
    background-color: var(--blanc);
}

.listeDonnees ul {
    padding-left: var(--paddingMenu);
}

.listeDonnees li {
    list-style-type: none;
    padding-top: var(--paddingMenu);
}

.listeDonnees li:last-of-type {
    padding-bottom: var(--paddingMenu);
}

.pageDonnees {
    display: inline-block;
    flex-basis: calc(65% - var(--margeSection));
    margin-top: var(--margeSection);
    margin-left: var(--margeSection);
    border-style: solid;
    border-width: var(--bordureI);
    border-color: var(--gris);
    padding: var(--paddingMenu);
    background-color: var(--blanc);
}

.pageDonnees h1 {
    font-family: var(--orbitron);
    font-size: var(--police_taille_h1);
    color: var(--noir);
    text-align: center;
}

.pageDonnees h2 {
    margin-top: var(--margeSousSection);
    text-align: center;
}

.pageDonnees p{
    font-family: var(--openSans);
    font-size: var(--police_taille_texte);
    text-align: center;
}

.formulaire {
    margin-top: var(--margeSousSection);
    font-family: var(--openSans);
    font-size: var(--police_taille_texte);
    width: max-content;
}

.formulaire label {
    display: inline-block;
    width: 15vw;
    margin-bottom: 1vw;
    text-align: right;
    padding: 0.5vw;
    min-width: 120px;
}

.formulaire select, .formulaire input {
    width: 20vw;
    padding: 0.5vw;
    min-width: 150px;
}

.formulaire textarea {
    width: 20vw;
    padding: 0.5vw;
    min-width: 150px;
    border-width: 1px;
    box-sizing: border-box;
    height: 150px;
    align-self: flex-end;
}

.formulaire input {
    border-width: 1px;
    box-sizing: border-box;
}

.formulaire input[type=checkbox] {
    width: min-content;
}

.formulaire .bouton {
    float: right;
    position: relative;
}

a.bouton {
    font-size: var(--police_taille_texte);
    color: var(--blanc);
    background-color: var(--cle);
    width: 20vw;
    text-align: center;
    padding: 0.5vw;
    display: block;
    margin: 1vw auto;
    min-width: 150px;
}

.bouton {
    font-size: var(--police_taille_texte);
    color: var(--blanc);
    background-color: var(--cle);
    width: 20vw;
    text-align: center;
    padding: 0.5vw;
    display: block;
    margin: 1vw auto;
    min-width: 150px;
}

.table {
    width: 90%;
    border-collapse: collapse;
    text-align: center;
    margin: 1vw auto;
    border-style: solid;
    border-width: var(--bordureI);
    border-color: var(--gris);
}

.table td, .table th {
    border-style: solid;
    border-width: 1px;
    border-color: var(--gris);
    padding: 0.5vw;
}

.table th>span {
    margin-right: 0.5vw;
}

.symboleTri {
    display: inline-block;
}
.symboleTri svg {
    min-width: 10px;
    min-height: 10px;
}

.inactif {
    fill: var(--grisPale);
    pointer-events: none;
    cursor: default;
}

/* Pagination */
.pagination {
    margin-top: 20px;
    font-weight: var(--police_poid_normal);
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

.page-active {
    display: inline-block;
    padding: 0.5vw;
}

.fleche {
    display: inline-block;
    cursor: pointer;
    border-style: solid;
    border-width: var(--bordureInterne);
    border-color: var(--gris);
    padding: 0.5vw;
}

.description {
    display: flex;
    flex-direction: column;
    margin-top: 1vw;
}

.description>div {
    display: flex;
    margin-bottom: 1vw;
}

.description>div>label {
    margin-top: 0;
    align-self: center;
}

@media screen and (min-width: 1025px) {
   
}
 
@media screen and (max-width: 1024px) {
    .listeDonnees {
        flex-basis: calc(25% - var(--margeInterieurSection));
    }
    .pageDonnees {
        flex-basis: calc(50% - var(--margeInterieurSection));
    }
}


@media screen and (max-width: 414px) {
    .listeDonnees {
        flex-basis: calc(100% - var(--margeInterieurSection));
    }
    .pageDonnees {
        flex-basis: calc(100% - var(--margeInterieurSection));
    }
    .listeDonnees li {
        text-align: center;
    }
}