.listeDonnees {
    display: inline-block;
    flex-basis: calc(25% - var(--margeSection));
    align-items: stretch;
    margin-top: var(--margeSection);
    margin-left: var(--margeSection);
    margin-right: var(--margeSection);
    border-style: solid;
    border-width: var(--bordureI);
    border-color: var(--gris);
    font-family: var(--orbitron);
    font-size: var(--police_taille_h2Plus);
    background-color: var(--blanc);
}

.listeDonnees ul {
    padding-left: var(--paddingMenu);
}

.listeDonnees li {
    list-style-type: none;
    padding-top: var(--paddingMenu);
}

.listeDonnees li:last-of-type {
    padding-bottom: var(--paddingMenu);
}

.pageDonnees {
    display: inline-block;
    flex-basis: calc(65% - var(--margeSection));
    margin-top: var(--margeSection);
    margin-right: var(--margeSection);
    border-style: solid;
    border-width: var(--bordureI);
    border-color: var(--gris);
    padding: var(--paddingMenu);
    background-color: var(--blanc);
}

.pageDonnees h1 {
    font-family: var(--orbitron);
    font-size: var(--police_taille_h1);
    color: var(--noir);
    text-align: center;
}

.pageDonnees h2 {
    margin-top: var(--margeSousSection);
    text-align: center;
}

.pageDonnees p{
    font-family: var(--openSans);
    font-size: var(--police_taille_texte);
    text-align: center;
}

.formulaire {
    margin-top: var(--margeSousSection);
    font-family: var(--openSans);
    font-size: var(--police_taille_texte);
    width: max-content;
}

.formulaire label {
    display: inline-block;
    width: 10vw;
    margin-top: 1vw;
    text-align: right;
    padding: 0.5vw;
}

.formulaire select, .formulaire input {
    width: 15vw;
    padding: 0.5vw;
}

.formulaire input {
    border-width: 1px;
    box-sizing: border-box;
}

.formulaire input[type=checkbox] {
    width: min-content;
}

.formulaire .bouton {
    float: right;
    position: relative;
}

.bouton {
    color: var(--blanc);
    background-color: var(--cle);
    width: 20vw;
    text-align: center;
    padding: 0.5vw;
    display: block;
    margin: 1vw auto;
}

.table {
    width: 80%;
    border-collapse: collapse;
    text-align: center;
    margin: 1vw auto;
    border-style: solid;
    border-width: var(--bordureI);
    border-color: var(--gris);
}

.table td, .table th {
    border-style: solid;
    border-width: 1px;
    border-color: var(--gris);
    padding: 0.5vw;
}

.table th>span {
    margin-right: 0.5vw;
}

.symboleTri {
    display: inline-block;
}

/* Pagination */
.pagination {
    margin-top: 20px;
    font-weight: var(--police_poid_normal);
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

.pagination>a {
    display: inline-block;
    text-decoration: none;
    padding: 0.5vw;
}

.page-active {
    display: inline-block;
    padding: 0.5vw;
}

.fleche {
    text-decoration: none;
    display: inline-block;
    vertical-align: bottom;
    border-style: solid;
    border-width: var(--bordureInterne);
    border-color: var(--gris);
    padding: 0.5vw;
}

.fleche>img {
    display: inline-block;
    height: 20px;
}
