.listeDonnees {
    display: inline;
    flex-basis: calc(25% - var(--margeSection));
    height: 100%;
    margin-top: var(--margeSection);
    margin-left: var(--margeSection);
    margin-right: var(--margeSection);
    border-style: solid;
    border-width: var(--bordureI);
    border-color: var(--gris);
    font-family: var(--orbitron);
    font-size: var(--police_taille_h2Plus);
}

.listeDonnees li {
    list-style-type: none;
    padding-top: var(--paddingMenu);
}

.pageDonnees {
    display: inline-block;
    flex-basis: calc(65% - var(--margeSection));
    margin-top: var(--margeSection);
    margin-right: var(--margeSection);
    border-style: solid;
    border-width: var(--bordureI);
    border-color: var(--gris);
    padding: var(--paddingMenu);
}

.pageDonnees h1 {
    font-family: var(--orbitron);
    font-size: var(--police_taille_h1);
    color: var(--noir);
    text-align: center;
}

.pageDonnees p{
    font-family: var(--openSans);
    font-size: var(--police_taille_sousTitre);
    text-align: center;
}

.formulaire {
    margin-top: 2vw;
    font-family: var(--openSans);
    font-size: var(--police_taille_texte);
}

.bouton {
    color: var(--blanc);
    background-color: var(--cle);
    width: 20vw;
    text-align: center;
    padding: 0.5vw;
    display: block;
    margin: 1vw auto;
}

.table {
    width: 80%;
    border-collapse: collapse;
    text-align: center;
    margin: 1vw auto;
    border-style: solid;
    border-width: var(--bordureI);
    border-color: var(--gris);
}

.table td, .table th {
    border-style: solid;
    border-width: 1px;
    border-color: var(--gris);
    padding: 0.5vw;
}

/* Pagination */
.pagination {
    margin-top: 20px;
    color: #192734;
    font-size: 18px;
    font-weight: 500;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

.pagination>a {
    padding: 0 10px;
}

.page-active {
    color: #A91E1D;
    font-size: 22px;
    text-decoration: none;
    pointer-events: none;
}

.fleche {
    text-decoration: none;
    display: inline-block;
    vertical-align: bottom;
    border-style: solid;
    border-width: var(--bordureInterne);
    border-color: var(--gris);
    padding: 0.5vw;
}

.fleche>img {
    display: inline-block;
    height: 20px;
}
