.bodyConteneur > main {
    min-width: var(--iPhone);
}

.grille {
    display: grid;
    margin-top: var(--margeSection);       /* 50px; */
    margin-bottom: var(--margeSection);
}

.grille--1 {
    column-gap: var(--paddingTuile);
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: var(--paddingTuile);
}

.grille--2 {
    column-gap: var(--paddingTuile);
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: var(--paddingTuile);
}

.grille--3 {
    column-gap: var(--paddingTuile);
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: var(--paddingTuile);
}


.grille--4 {
    column-gap: var(--paddingTuile);
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: var(--paddingTuile);
}


.grille__item {
    width: 26.953125vw;         /* 345px */
}

.gallery__image {
    width: 100%;
} 


.grille__item {
    display: flex;
    flex-direction: column;
 /*    height: 39.921875vw;   */      /* 511px */
    background-color: var(--blanc);
}


.gallery__image {
    object-fit: cover;
}


.btn--hidden {
    opacity: 0;
    transform: translateY(50px);
}

.btn-plus {
    margin:auto;
    color: var(--blanc);
    background-color: var(--cle);
    width: 20vw;
    text-align: center;
    padding: 0.5vw;
}
