/* .listeVoitureConteneur {
    flex-basis: calc(100% - 24.02%);
} */

.bodyConteneur > main {
    min-width: var(--iPhone);
    max-width: var(--iPad);
    margin-left: var(--paddingTuile);
}

.grille {
    display: grid;
    margin-top: var(--margeSection);       /* 50px; */
    margin-bottom: var(--margeSection);
}

.grille--1 {
    column-gap: var(--paddingTuile);
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: var(--paddingTuile);
}

.grille--2 {
    column-gap: var(--paddingTuile);
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: var(--paddingTuile);
}

.grille--3 {
    column-gap: var(--paddingTuile);
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: var(--paddingTuile);
}

.grille--4 {
    column-gap: var(--paddingTuile);
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: var(--paddingTuile);
}

.grille--5 {
    column-gap: var(--paddingTuile);
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: var(--paddingTuile);
}


.grille__item {
    width: 26.953125vw;         /* 345px */
}

.gallery__image {
    width: 100%;
} 

.grille__item {
    display: flex;
    flex-direction: column;
    height: auto;
 /*    height: 39.921875vw;   */      /* 511px */
    background-color: var(--blanc);
}


.gallery__image {
    object-fit: cover;
}

.btn--hidden {
    opacity: 0;
    transform: translateY(50px);
}

.voir-plus {
    margin-left: auto;
    margin-right: auto;
    width: 20vw;
}

.btn-plus {
    margin:auto;
    color: var(--blanc);
    background-color: var(--cle);
    width: 20vw;
    text-align: center;
    padding: 0.5vw;
}


@media screen and (min-width: 1025px){
    .bodyConteneur > main {
        margin-left: 0;
    }  
}


@media screen and (max-width: 1024px) {
    .bodyConteneur > main {
        margin-left: 0;
    }  
}

@media screen and (max-width: 414px) {
    .bodyConteneur > main {
        margin-left: var(--paddingTuile);
        flex-basis: 15%;
    }
}


