.menuConteneur {
    font-family: var(--orbitron);
    font-size: var(--police_taille_h2Plus);
    color: var(--blanc);
    background-color: var(--gris);

    display:flex;
    justify-content: space-around;
    align-items: center;
}

.burger{
    flex-direction: column;
    /* align-items: flex-start; */
    text-align: center;
}

.nonBurger{
    
}

.menuContenu{
    display:flex;
    justify-content: space-around;
    
    padding: var(--menu);
    margin: var(--menu);
    /* padding: var(--paddingMenu); */
}

.iconeBurger{
    height: 30px;
    width: 30px;
    fill: var(--gris);
}
