.menuConteneur {
    color: var(--grisPale);
    background-color: var(--gris);
    border-bottom: solid 20px var(--cle);
    display:flex;
    justify-content: space-around;
    align-items: stretch;
}

.burger{
    flex-direction: column;
    text-align: center;
}

.menuContenu{
    display:flex;
    justify-content: space-around;
    /* height: 100px; */
    
    padding-left: var(--paddingMenu);
    padding-right: var(--paddingMenu);
}
.menuContenu>p{
    font-family: var(--orbitron);
    font-size: var(--police_taille_h2Plus);
}

.menuContenu:hover{
    transition: background-color, color .3s ease-out;
    background-color: var(--grisPale);
    color: var(--gris);
}

.iconeBurger{
    margin-left: var(--margeSection);
    fill: var(--gris);
}