

/* Page Commande */

.listepanierConteneur {
    width: 100%;
    margin-top: var(--margeSection);
}

.listepanierConteneur > * {
    display: flex;  
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.listepanier {
    margin-left: auto;
    margin-right: auto;
    background-color: var(--blanc);
    border: solid var(--bordure) var(--gris);
}

.detail {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.titre {
    font-size: var(--police_taille_h2Plus);
    font-family: var(--orbitron);
    font-weight: var(--police_poid_tres_gras);
    color: var(--cle);
    text-align: center;
    padding: var(--paddingMenu);
}
ul .liste {  
    list-style-type: none;
}

.commande {
    margin: var( --margeSousSection);
    font-size: var(--police_taille_sousTitre);
    font-family: var(--orbitron);
    font-weight: var(--police_poid_gras);
    color: var(--noir);
    text-align: center;
}

.img-commamde {
    position: relative;
    flex-basis: 33%;    
}

.liste img {    
    position: relative;
    width: 240px; /* 12.5vw; */
    height: 180px;  /* 9.375vw; */  
} 

ul .info {
    flex-basis: 33%;
    position: relative;
    font-size: var(--police_taille_texte);
    font-family: var(--openSans);    
    color: var(--gris); 
    padding-bottom: var(--paddingTuile);          
}

ul .info p {
    padding: 5px;
}

.buttonRetrait {
    position: relative;
    font-family: var(--openSans);
    font-size: 12px;
    background-color: var(--grisPale);
    color: var(--cle);
    text-align: center;
}

.montant {
    padding-top: var(--paddingMenu);    
    font-size: var(--police_taille_texte);
    font-family: var(--openSans);
    font-weight: var(--police_poid_gras);
    color: var(--noir);
}

.total {
    margin-top: var(--margeSousSection);
    margin-bottom: var(--margeSousSection);
    padding-right: var(--paddingMenu); 
    text-align: right;
}

.total span {
    color: var(--bleu);
    padding-left: var(--paddingMenu); 
}

.expedition {
    margin-top: var(--margeSousSection);
}

.taxationConteneur {
    display: flex;
    flex-direction: column;
}

.taxation {  
    width: 30%;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    padding-right: var(--paddingMenu); 
    margin-top: var(--margeSousSection);   
    margin-bottom: var(--margeSousSection);   
    font-size: var(--police_taille_texte);
    font-family: var(--openSans);
    font-weight: var(--police_poid_gras);
    color: var(--gris);
}

.taxation span {
    padding-right: var(--margeInterieurSection);
    font-size: var(--police_taille_texte);
    color: var(--bleu);
    font-weight: var(--police_poid_gras);
}

.taxeConteneur {
    display: flex;
    justify-content: space-between;
}

.taxeConteneur p {
    display: inline-block;
}

.paypal {
    align-self: center;
}

.button {
    color: var(--blanc);
    background-color: var(--cle);
    margin-bottom: var(--margeInterieurSection);
    text-align: center;
    padding: 0.5vw;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: var(--paddingVoiture);
    padding-right: var(--paddingVoiture);
    border: none;
}

.magasiner {
    color: var(--blanc);
    margin-top: var(--margeSection);
    text-align: center;
    padding: 0.5vw;
    display: block;
    margin-right: auto;
    margin-left: auto;;
    background-color: var(--gris);
    border: none;
}

label {
    margin-left: var(--margeSection);
    margin-bottom: var(--margeSection);
}

select {
    margin-bottom: var(--margeSection);
}

.paiement {
    
    font-size: var(--police_taille_sousTitre);
    font-family: var(--openSans);
    font-weight: var(--police_poid_gras);
    color: var(--noir);
    text-align: center;
}

.hidden {
    display: none;
}

/********** ADAPTATION POUR PETIT ÉCRAN, Ippad (< 1024 px) **********/
@media screen and (max-width: 1024px) {
    .detail {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}