/*
    PH
    Pour maintenir le footer en bas de la page
*/
.page_conteneur{
    position: relative;
    min-height: 100vh;
}


/* footer */

.pied_de_page {
    position: absolute;
    display: flex;
    justify-content: space-around;
    
    bottom: 0;
    height: 300px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: var(--noir);
    margin-top: 50px;
    border-top: solid 20px var(--cle);
    
}
.pied_de_page a {
    color:var(--blanc);
}


.footer__adresse,
.footer__heures,
.footer__partage {
    font-family: var(--openSans);
    font-size: var( --police_taille_sousTitre);
    color: var(--grisPale);
    text-align: center;
    padding: 20px 50px;
}

.footer__adresse p,
.footer__heures p ,
.footer__partage p{
    font-family: var(--openSans);
    font-size: var(--police_taille_texte);
    color: var(--blanc);
}

.footer__icones{
    display: flex;
    flex-direction: column;
    color: var(--blanc);
}
.footer__icones > a{
    color: var(--blanc);

}

/********** ADAPTATION POUR PETIT ÉCRAN, Ippad (< 1024 px) **********/
@media screen and (max-width: 1024px) {
    .pied_de_page {
        flex-direction: column;
        text-align: center;
        height: 600px;
    }
}