/* footer */

.pied_de_page {
    display: flex;
    position: relative;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: var(--noir);
    margin-top: 50px;
    border-top: solid 20px var(--cle);
}

.footer__titre {
    font-family: var(--orbitron);
    font-size: var(--police_taille_h1);
    color: var(--cle);

}

.footer__sous-titre {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    background-color: var(--noir);
}

.footer__adresse,
.footer__heures,
.footer__partage {
    font-family: var(--openSans);
    font-size: var( --police_taille_sousTitre);
    color: var(--grisPale);
    text-align: center;
    padding: 20px 50px;
}

.footer__adresse p,
.footer__heures p ,
.footer__partage p {
    font-family: var(--openSans);
    font-size: var(--police_taille_texte);
    color: var(--blanc);
}

/********** ADAPTATION POUR PETIT ÉCRAN, Ippad (< 1024 px) **********/
@media screen and (max-width: 1024px) {
    .pied_de_page {
        flex-direction: column;
        text-align: center;
    }
}

/********** ADAPTATION POUR PETIT ÉCRAN, Iphone 11 (< 414 px) **********/
@media screen and (max-width: 414px) {
    .footer__sous-titre {
        flex-direction: column;
        text-align: center;
    }
}
