
.voiture {
    box-sizing: border-box;
    border: var(--bordure) solid var(--blanc);
    padding-bottom: 1.5625vw;
} 

.voiture * {
    margin: 0;
    padding: 0;
    background-color: var(--blanc);
    color: var(--noir);
    font-family: var(--openSans);
    font-size:   var(--police_taille_texte);
    font-weight: var(--police_poid_normal);
}

.voiture > h2 {
    font-family: var(--orbitron);
    font-size:   var(--police_taille_h2Plus);
    font-weight: var(--police_poid_gras); 
    width: 100%;  
    text-align: center;
}


.voiture > img {
    padding-top: 1.5625vw;
    max-width: calc(100% - var(--paddingVoiture));
    margin-left: auto;
    margin-right: auto;

} 

.voiture > h2,
.voiture > div {
    padding-top: 1.5625vw;
}

.voiture div {
    display: flex;  
    justify-content: space-between;
    width: calc(100% - var(--paddingVoiture));
    margin-left: calc(var(--paddingVoiture)/2);
} 


.voiture  .valeur {
    color: var(--bleu);
}


.voiture:hover {
    box-sizing: border-box;
    border: var(--bordure) solid var(--cle);
    cursor: pointer;
}

.voiture:active {
    transform: scale(0.98);
    box-shadow: var(--bordure) 2px 22px var(--bordureInterne) rgba(0, 0, 0, 0.24);
}

