:root{
    /* Les couleurs */
    --cle: #AA2020;
    --noir: #000;
    --blanc: #fff;
    --gris: #333333;
    --grisPale: #E8E8E8;
    --bleu: #156791;

    /* Les polices */
    --orbitron: 'Orbitron', sans-serif;
    --openSans: 'Open Sans', sans-serif;


    /* Les tailles de polices */
    --police_taille_h1:         50px;       /* 3.90625vw; */
    --police_taille_h2Plus:     24px;       /* 1.875vw; */
    --police_taille_sousTitre:  18px;       /* 1.40625vw; */
    --police_taille_texte:      14px;       /* 1.09375vw; */

    /* la  poid (weight) de la police */
    --police_poid_normal:        600;
    --police_poid_gras:          700;
    --police_poid_tres_gras:     800;

    /* Les tailles de page */
    --iPhone: 414px;
    --iPad: 1024px;

    /* Les marges */
    --margeSection : 3.90625vw;                 /* 50px; */
    --margeSousSection : 1.953125vw;            /* 25px */

    /* Les padding */
    --paddingMenu: 1.953125vw;                  /* 25px */
    --paddingTuile: 2.5vw;                      /* 32px */
    --paddingVoiture: 1.953125vw;               /* 25px */
    --paddingFiltreListe: 0.866vw;                /* 15px */

    /* Bordures*/
    --bordure: 0.234375vw;                      /* 3px; */
    --bordureInterne: 0.078125vw;               /* 1px */

}