.sourisPointer{
    cursor: pointer;
}

.cacher{
    display: none;
}

.tampon{
    flex-basis: calc(25% - var(--margeSection));
}

.margeHautSousSection{
    margin-top: var(--margeSousSection);
}

.defilement{
    width:85vw;
    Overflow-x:scroll;
    white-space: nowrap;
}