*{
    margin:0;
}

.filtre{
    margin-top: var(--margeSection);
    margin-left: var(--margeSection);
    margin-right: var(--margeSection);
    border-style: solid;
    border-width: var(--bordureI);
    border-color: var(--gris);
    display: inline;
}

.filtreSection{
    border-bottom: solid;
    border-width: var(--bordureInterne);
    border-color: var(--gris);

}

.titreFiltre{
    font-family: var(--orbitron);
    font-size: var(--police_taille_h2Plus);
}

.titreSection{
    font-family: var(--openSans);
    font-size: var(--police_taille_sousTitre);
}

