* {
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #E0E0E0;
}

body {
    margin: 0;
    padding: 6vw;
}

h1 a {
    cursor: pointer;
    color: #008080;
}

a.disabled {
	pointer-events: none;
	cursor: default;
} 









